<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="325px" src="https://m-cdn.phonearena.com/images/article/139915-wide-two_1200/These-two-new-OnePlus-phones-are-crazy-fast-and-impressively-affordable.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">OnePlus</h5>
                          <p class="card-text">Rs.50,800</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>
                </div>
                
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="325px" src="http://cdn.shopify.com/s/files/1/0266/6276/4597/files/lavender_shirt_dress_for_women_by_lov.jpg?v=1651054733" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Women's wear</h5>
                          <p class="card-text">Rs.2500</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="325px" src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/78d88ec9e77443d2b8b1ae1500791fa7_9366/x9000l2-heat.rdy-shoes.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Shoes</h5>
                          <p class="card-text">Rs.4000</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://cdn.mos.cms.futurecdn.net/UEEkgUpRTeWcwpGaYpPJES.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Laptop</h5>
                          <p class="card-text">Rs.78,000</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://os-wordpress-media.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2022/03/30122525/Samsung-Galaxy-F23-1024x538.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Samsung</h5>
                          <p class="card-text">Rs.30,000</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://www.pinkvilla.com/files/styles/amp_metadata_content_image/public/amazon_deal_of_the_day_7_perfumes_for_women_who_want_to_smell_like_heaven_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Perfum</h5>
                          <p class="card-text">Rs.2500</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>
                    </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://www.cnet.com/a/img/resize/d07faf77cbe41b8c1fd608ad24fb21af866fa232/hub/2022/01/21/c453cbcc-3156-444b-8240-43058a24ecca/polargritxpro.jpg?auto=webp&fit=crop&height=528&width=940" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">watch</h5>
                          <p class="card-text">Rs.3500</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://fossil.scene7.com/is/image/FossilPartners/FOS2115GE2T3_main?$sfcc_fos_medium$" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sunglasses</h5>
                          <p class="card-text">Rs.2100</p>
                          <a href="#" class="btn btn-dark">Add To Bag</a>
                          <p class="card-text">Free shipping</p>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </div>
</div><br>