<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
              
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="325px" src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2019%2F04%2Fconverse-all-star-pro-bb-black-white-grey-basketball-shoes-0.jpg?w=960&cbr=1&q=90&fit=max" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Shoes</h5>
                          <p class="card-text">Delivered on 07 september,2022</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://cdn.mos.cms.futurecdn.net/UEEkgUpRTeWcwpGaYpPJES.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Laptop</h5>
                          <p class="card-text">Delivered on 22 Augest,2022</p>
                        </div>
                      </div>
                </div>

                

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://5.imimg.com/data5/SELLER/Default/2021/9/TX/RS/GC/93919702/100-non-alcoholic-perfume-spray-500x500.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Perfum</h5>
                          <p class="card-text">Delivered on 14 july,2022</p>
                        </div>
                      </div>
                    </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://www.cnet.com/a/img/resize/d07faf77cbe41b8c1fd608ad24fb21af866fa232/hub/2022/01/21/c453cbcc-3156-444b-8240-43058a24ecca/polargritxpro.jpg?auto=webp&fit=crop&height=528&width=940" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">watch</h5>
                          <p class="card-text">Delivered on 05 july,2022</p>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://m.media-amazon.com/images/I/51XrOYWEw9L._UX569_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sunglasses</h5>
                          <p class="card-text">Delivered on 11 june,2022</p>
                        </div>
                      </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="325px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Apple_airpods_pro.jpg/640px-Apple_airpods_pro.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Airpods</h5>
                          <p class="card-text">Delivered on 24 may,2022</p>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </div>
</div><br>

